doctype html
html(lang="fr")
  head
    meta(
      charset="utf__8"
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    )
    link(
  		rel="stylesheet"
  		href="app.css"
  		type="text/css"
  		media="screen"
  	)
    title IRYS
  body
    nav
      .container
        ul
          li
            a Bio
          li
            a(href="actions.hmtl") Mes actions
          li
            a Mon programme
          li
            a Contact
    header.actions
      .header__background
      .container
        .header__titles
          h1 IRYS, invitée de C dans l'air sur France 5
          h2 Le dimanche 25 novembre à 11h25
        
    main
      section
        .container
          article.region
            h3.region__title Vie citoyenne et politique régionale
            p.region__txt Le magazine de débat C dans l’air aborde les thèmes de la vie citoyenne et politique régionale et nationale. Au cours de cette émission, nous aborderons la question de l’enseignement : les professeurs sont-ils les mal-aimés de notre société ? Et du projet social de la candidate IRYS.   
          
          .events                    
            article.event
              .event__infos
                h4.event__title Rencontre et débat avec IRYS au 22 rue du quai général, Nantes
                p.event__txt Venez rencontrer et débattre avec IRYS à au comptoir général de Nantes. À l’invitation d’Europe 1, Irys sera présente pour une réunion publique lors de laquelle il vous présentera son projet pour la France, fondée sur la recherche absolue du consensus.
                p.social
                  a Lien Facebook
                  a Lien Twitter
              .event__img
                
            article.event
              .event__infos
                h4.event__title Rencontre et débat avec IRYS au 22 rue du quai général, Nantes
                p.event__txt Venez rencontrer et débattre avec IRYS à au comptoir général de Nantes. À l’invitation d’Europe 1, Irys sera présente pour une réunion publique lors de laquelle il vous présentera son projet pour la France, fondée sur la recherche absolue du consensus.
                p.social
                  a Lien Facebook
                  a Lien Twitter
              .event__img
                    
            article.event
              .event__infos
                h4.event__title Rencontre et débat avec IRYS au 22 rue du quai général, Nantes
                p.event__txt Venez rencontrer et débattre avec IRYS à au comptoir général de Nantes. À l’invitation d’Europe 1, Irys sera présente pour une réunion publique lors de laquelle il vous présentera son projet pour la France, fondée sur la recherche absolue du consensus.
                p.social
                  a Lien Facebook
                  a Lien Twitter
              .event__img
            
          .nextEvents            
            article.nextEvent
              p.nextEvent__date 28/10
              p.nextEvent__txt Débat sur France 3 en compagnie de Nicolas Sarkosy
              
            article.nextEvent
              p.nextEvent__date 03/11
              p.nextEvent__txt Rencontre avec les salariés de Renault à la Suze

            article.nextEvent
              p.nextEvent__date 09/11
              p.nextEvent__txt Débat sur TF1 en compagnie de Jean-Luc Mélanchon

            article.nextEvent
              p.nextEvent__date 17/11
              p.nextEvent__txt Rencontre avec les salariés d’Alstom à Chartres

            article.nextEvent
              p.nextEvent__date 25/11
              p.nextEvent__txt Rencontre avec les salariés de Renault à la Suze
              
          article.envies
            h3.envies__title Mes envies et déterminations
            p.envies__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés.
            .envies__btn
              a Accéder au programme d'IRYS
              
          article.travel
            h3.travel__title Rester au courant de tous mes déplacements
            p.travel__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés.
            .form
              form
                fieldset.formMail
                  label.formMail__label Votre adresse-mail
                  input.formMail__input(type="mail" placeholder="Entrez votre adresse mail") 
                button(type="submit").form__btn
                  a Envoyer
            
    footer
      .container
        nav
          ul
            li
              a Bio
            li
              a(href="actions.html") Mes actions
            li
              a Mon programme
            li
              a Contact
        .social
          .social__facebook
            p
              a Lien Facebook
          .social__twitter
            p
              a Lien Twitter
        .legal
          p IRYS Programm - All Rights Reserved
          
