doctype html
html(lang="fr")
  head
    meta(
      charset="utf__8"
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    )
    link(
  		rel="stylesheet"
  		href="app.css"
  		type="text/css"
  		media="screen"
  	)
    title IRYS
  body
    nav
      .container
        ul
          li
            a Bio
          li
            a Mes actions
          li
            a Mon programme
          li
            a Contact
    header
      .container
        .titles
          h1 Irys
          h2 No brain, but trillions of ideas
        
    main
      section
        .container
          article.who
            h3.who__title Découvrez la nouvelle candidate à l’éléction présidentielle
            p.who__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés.
            .who__btn
              a Découvrez qui est IRYS
              
          article.actions
            h3.actions__title IRYS au plus près de ses concitoyens
            p.actions__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés.
            .actions__btn
              a Actions récentes d'IRYS
            
      section
        .container
          article.goals
            h3.goals__title Quels sont les objectifs de l’intelligence artificelle
            p.goals__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés.
            .goals__btn
              a Accéder au programme
              
          article.programm
            .programm__item
              p icon
            .programm__item
              p icon
            .programm__item
              p icon
            .programm__item
              p icon
            .programm__item
              p icon
            .programm__item
              p icon
          
      section
        .container
          .form
            form
              h3.form__title Contactez IRYS
              fieldset.formMail
                label.formMail__label Votre adresse-mail
                input.formMail__input(type="mail" placeholder="Entrez votre adresse mail") 
                
              fieldset.formMessage
                label.formMessage__label Votre message
                textarea.formMessage__input(type="txt" placeholder="Votre message" row="10")
              button(type="submit").form__btn
                a Envoyer
                
      section
        .container
          article.processus
            h3.processus__title Comment fonctionne IRYS
            p.processus__txt 
              ul
                li Différentes entreprises afin de les accompagner
                li Comprendre les problèmes auxquels ils sont
                li Chaque mois, je rencontre les salariés
                li Différentes entreprises afin de les accompagner
                li Comprendre les problèmes auxquels ils sont
                
          article.support
            h3.support__title Irys a besoin de votre soutien
            p.support__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés.
            .support__btn
              a Soutenir IRYS
            
    footer
      .container
        nav
          ul
            li
              a Bio
            li
              a Mes actions
            li
              a Mon programme
            li
              a Contact
        .social
          .social__facebook
            p
              a Lien Facebook
          .social__twitter
            p
              a Lien Twitter
        .legal
          p IRYS Programm - All Rights Reserved
          
