doctype html
html(lang="fr")
  head
    meta(
      charset="utf__8"
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    )
    link(
  		rel="stylesheet"
  		href="app.css"
  		type="text/css"
  		media="screen"
  	)
    title IRYS
  body
    nav
      .container
        ul
          li
            a(href="index.html") IRYS
          li
            a(href="bio.html") Bio
          li
            a(href="actions.html") Mes actions
          li
            a(href="programme.html") Mon programme
            
    header.programme
      .header__background
      .container
        .header__titles
          h1 Mon programme, mes envies
          
    section
      article.programmeArticle
        .container
          .title__container  
            h3.programmeArticle__title Économie
            p.number 1
          p.programmeArticle__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés. Le magazine de débat C dans l’air aborde les thèmes de la vie citoyenne régionale et nationale. Au cours de cette émission, nous aborderons la question de l’et : les professeurs sont-ils les mal-aimés de notre société ? Et du projet social de la candidate Irys.
        
      article.programmeArticle
        .container
          .title__container  
            h3.programmeArticle__title Politique
            p.number 2
          p.programmeArticle__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés. Le magazine de débat C dans l’air aborde les thèmes de la vie citoyenne régionale et nationale. Au cours de cette émission, nous aborderons la question de l’et : les professeurs sont-ils les mal-aimés de notre société ? Et du projet social de la candidate Irys.


      article.programmeArticle
        .container
          .title__container  
            h3.programmeArticle__title Écologie
            p.number 3
          p.programmeArticle__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés. Le magazine de débat C dans l’air aborde les thèmes de la vie citoyenne régionale et nationale. Au cours de cette émission, nous aborderons la question de l’et : les professeurs sont-ils les mal-aimés de notre société ? Et du projet social de la candidate Irys.
          
      article.programmeArticle
        .container
          .title__container  
            h3.programmeArticle__title Justice
            p.number 4
          p.programmeArticle__txt Chaque mois, je rencontre les salariés de différentes entreprises afin de les accompagner et comprendre les problèmes auxquels ils sont confrontés. Le magazine de débat C dans l’air aborde les thèmes de la vie citoyenne régionale et nationale. Au cours de cette émission, nous aborderons la question de l’et : les professeurs sont-ils les mal-aimés de notre société ? Et du projet social de la candidate Irys.
          
    footer
      .container
        .social
          .social__facebook
            p
              a Lien Facebook
          .social__twitter
            p
              a Lien Twitter
        .legal
          p Programme IRYS © 2016
